<h1>Listing inspections</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= link_to inspection.name, inspection %></td>
        <td><%= link_to 'Attributes', inspection_attrs_path(inspection) %></td>
        <td><%= link_to 'Edit', edit_inspection_path(inspection) %></td>
        <td><%= link_to 'Destroy', inspection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspection', new_inspection_path %>

<div ng-app="App">
	<div ng-controller="InspectionCtrl">
	<button ng-click="dl_json();">Download</button>
		ABC{{name}}
		{{inspections.length}}
	</div>
</div>



